@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(http://blakebirnbaum.com/images/rotate.php);
	background-image: url('/images/Blake\ &\ His\ Crappie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#top {
	background-image: url(http://blakebirnbaum.com/elements/top.png);
	margin-left:auto;
	margin-right:auto;
	width:868px;
	height:182px;
	margin-top:-20px;
	
	}
	

#video {
	-moz-box-shadow: 0px 0px 40px #000;
	-webkit-box-shadow: 0px 0px 40px #000;
	box-shadow: 0px 0px 40px #000;
	margin-left:auto;
	margin-right:auto;
	width:750px;
	height:422px;
	margin-top:150px;
	
	}